body {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.h1 {
    color: blue;
    text-align: center;
}

.p {
    margin-top: 20px;
    margin-bottom: 40px;
}

.start-btn {
        padding: 8px 16px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.img {
    height: 600px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.correct {
    color: green;
}
.ol-questions {
    list-style:lower-alpha;
}

.wrong {
    color:indianred;
}

.li-answers {
    color: black;
    font-family: "Trirong", serif;
    /* border-bottom: black solid 2px; */
}

